body {
  font-family: 'Muli', sans-serif;
  line-height: 1.5;
  text-align: center;
}

.social-icons {
  font-size: 30px;
  margin-right: 10px;
  color: black;
}

td#contact-info {
  text-align: left;
  vertical-align: top;
}

td#me {
  text-align: right;
  vertical-align: top;
}

img {
  width: 150px;
}

img:hover {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

table {
  width: 576px;
}

table.center {
  margin-left: auto;
  margin-right: auto;
}

.links {
  text-align: center;
}

tbody {
  text-align: left;
}

div#about, div#projects, div#recent-writing, div#talks, div#podcasts {
  font-size: 18.72px;
  font-weight: bold;
  padding-top: 15px;
}

div.talks-list ul, div.podcasts-list ul {
  list-style: none;
}

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 414px) {
    table {
      width: 400px;
  }
}
