body {
  font-family: 'Muli', sans-serif;
  line-height: 1.5;
}

.contact .social-icons {
  font-size: 30px;
  margin-right: 10px;
  color: black;
}

img:hover {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 414px) {
    table {
      width: 400px;
  }
}
